.conteneur
{
	position: relative;
	height: 500px;
	width: 755px;
	border: 3px solid palevioletred;
	border-radius: 15px;
	background-color: purple;
}

div > div
{
	position: absolute;
	font-size: 50px;
	top: 20px;
	left: 20px;
	height: 35px;
	width: 35px;
	border: 3px solid deeppink;
	padding: 15px 15px;
	border-radius: 15px;
	animation-name: queue;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.pers1 {
    animation-delay: 0.5s;
}
.pers2 {
    animation-delay: 1s
}
.pers3 {
    animation-delay: 1.5s;
}
.pers4 {
    animation-delay: 2s;
}
.pers5 {
    animation-delay: 2.5s;
}
.pers6 {
    animation-delay: 3s;
}
@keyframes queue
{
	0%
	{
		top: 20px;
		left: 20px;
		background-color:deeppink;
	}

	25%
	{
		top: 20px;
		left: 670px;
		background-color:greenyellow;
	}

	50%
	{
		top: 380px;
		left: 670px;
		background-color: aqua;
	}

	75%
	{
		top: 380px;
        left: 20px;
        background-color: blue;
    }
